@{
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <form asp-action="Index" asp-controller="Home">
        <div class="form-group">
            <label asp-for="@Model.Name">Name</label>
            <input asp-for="@Model.Name" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="@Model.Heigth">Name</label>
            <input asp-for="@Model.Heigth" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name:
                </th>
                <th>
                    Heigth:
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Animals)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Heigth</td>
                </tr>
            }
        </tbody>
    </table>
</div>
